<article class="fx-browser-card" data-asset-id="{{id}}" data-preview-src="{{path}}" title="{{path}}">
  <div class="fx-browser-card-media">
    <i class="fa-solid fa-photo-film"></i>
  </div>
  <div class="fx-browser-card-body">
    <h3>{{name}}</h3>
    <div class="fx-browser-card-badges">
      <span>{{categoryLabel}}</span>
      <span>{{playback}}</span>
    </div>
  </div>
</article>
