<section class="fx-browser-overlay-controls">
  <h2>{{localize "fx-browser.overlayEditor.title"}}</h2>
  {{#if selectedOverlay}}
    <form data-overlay-form>
      <label>
        <span>{{localize "fx-browser.overlayEditor.name"}}</span>
        <input name="name" type="text" value="{{selectedOverlay.name}}">
      </label>
      <div class="fx-browser-overlay-control-grid">
        <label>
          <span>X</span>
          <input name="x" type="number" step="1" value="{{selectedOverlay.x}}">
        </label>
        <label>
          <span>Y</span>
          <input name="y" type="number" step="1" value="{{selectedOverlay.y}}">
        </label>
        <label>
          <span>{{localize "fx-browser.overlayEditor.width"}}</span>
          <input name="width" type="number" min="1" step="1" value="{{selectedOverlay.width}}">
        </label>
        <label>
          <span>{{localize "fx-browser.overlayEditor.height"}}</span>
          <input name="height" type="number" min="1" step="1" value="{{selectedOverlay.height}}">
        </label>
        <label>
          <span>{{localize "fx-browser.overlayEditor.rotation"}}</span>
          <input name="rotation" type="number" step="1" value="{{selectedOverlay.rotation}}">
        </label>
        <label>
          <span>{{localize "fx-browser.overlayEditor.opacity"}}</span>
          <input name="opacity" type="number" min="0" max="1" step="0.05" value="{{selectedOverlay.opacity}}">
        </label>
        <label>
          <span>{{localize "fx-browser.overlayEditor.zIndex"}}</span>
          <input name="zIndex" type="number" step="1" value="{{selectedOverlay.zIndex}}">
        </label>
      </div>
      <div class="fx-browser-overlay-toggles">
        <label><input name="loop" type="checkbox" {{#if selectedOverlay.loop}}checked{{/if}}> {{localize "fx-browser.overlayEditor.loop"}}</label>
        <label><input name="visible" type="checkbox" {{#if selectedOverlay.visible}}checked{{/if}}> {{localize "fx-browser.overlayEditor.visible"}}</label>
        <label><input name="locked" type="checkbox" {{#if selectedOverlay.locked}}checked{{/if}}> {{localize "fx-browser.overlayEditor.locked"}}</label>
      </div>
      <button type="button" class="fx-browser-danger" data-overlay-delete-selected>
        <i class="fa-solid fa-trash"></i>
        {{localize "fx-browser.overlayEditor.delete"}}
      </button>
    </form>
  {{else}}
    <p>{{localize "fx-browser.overlayEditor.empty"}}</p>
  {{/if}}
</section>
